  /* 
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2; 
  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper{
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px){
.logo{
  margin: auto;
  margin-bottom: 20px;
}
  .header{
    flex-direction: column;
    padding: 0;
  }

  .navbar{
    width: 100%;
  }

  .nav-links li a:hover {
    border-top: none !important;
  }

  .nav-links {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;

  }

  .nav-links li{
    width: 50%;
    border-bottom: 3px solid rgb(175, 170, 170);
    padding-bottom: 20px !important;
  }

  .nav-links li a{
    padding: 20px;
    text-align: center;
    margin: 0px;    
  }

  .nav-links :hover{
    width: 50%;
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 20px;
  }

  }

.logo{
  margin-right: auto;
}

.logo-img{
  width: 110px;
  height: 50px;
}

.nav-links{
  list-style-type: none;
}

.nav-links li{ 
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(99, 96, 96);
}

.nav-links li a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
  padding-top: 45px;
}

/* DESCRIPTION */

.description__title{
  font-size: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 428px){

  .description__title {
  margin-top: 20px;
  }
  }

.description__subtitle{
  color: rgb(143, 142, 142);
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
}

/* SEARCHBAR */

.searchbar{
  display: flex;
  margin-bottom: 20px;
}

.searchbar__icon{
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 15px;
  border-radius: 10px 0 0 10px;
}

.searchbar__input{
  outline: none;
  border: #F2F2F2;
  padding: 0 10px;
}

.searchbar__btn{
  color:white;
  background-color: #0065FC;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 9px 25px;
}

.searchbar__btn--mobile{
  display: none;
}

@media screen and (max-width: 428px){

  .searchbar__btn--mobile {
    display: block;
    color:white;
    border: none;
    background-color: #0065FC;
    border-radius: 10px;
    padding: 9px 25px;
  }
  .searchbar__btn{
    display: none;
  }
  }

/* FILTERS */

.filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 15px;
  margin-bottom: 20px; 
}

.filters__title{
  font-weight: 600;
}

.filter{
  display: flex;
  align-items: center;
  margin-right: 15px;
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
  border-radius: 50px;
}

.filter:hover{
  background-color: #fafafa;
}

.filter__icon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #DEEBFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__icon i{
  color: #0065FC;
}

.filter__title{
  font-weight: 600;
  padding: 10px 15px 10px 10px;
}

.information{
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.information__icon{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(211, 211, 211);
}

.information__icon i {
  font-size: 12px;
  color: #0065FC;
  
}

.information__description {
  color: rgb(143, 142, 142);
  font-size: 13px;
}

/* ACCOMMODATIONS */

.accommodations-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px){

  .accommodations-container{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .accommodations{
    min-width: 350px;
    background-color: white;
  }
  .card{
    min-width: 300px !important;
  }
  }

  @media screen and (max-width:428px) {
    /* .card{
      min-width: 300px !important;
    } */
  }

.accommodations {
  width: 60%;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.accommodation-title{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 20px;
  margin-bottom: 15px;
}

.card{
  min-width: 235px;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  transition: 0.8s;
  box-shadow: 0px 2px 12px rgb(174 174 174 / 25%);
}
.card:hover{
  transform: scale(1.07);
}

.card__picture img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__title{
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card__price{
  font-size: 10px;
}

.card__rate--large {
  position: absolute;
  bottom: 0;
  font-size: 8px;
  color: #0065FC;
}

.card__rate i {
  font-size: 8px;
  color: #0065FC;
}

.accommodations a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

/* POPULAR */

.popular-container{
  width: 40%;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (max-width: 992px){

  .popular-container{
    min-width: 350px;
  }
  }

.popular {
  display: flex;
  justify-content: space-between;
}

.popular__title{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card--large{
  width: 600px;
  min-width: 200px;
  height: 100px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  transition: 0.8s;
  box-shadow: 0px 2px 12px rgb(174 174 174 / 25%);
}

.card--large:hover{
transform: scale(1.07);
}


.card__picture--large img{
  width: 90px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.card__description{
  position: relative;
  padding: 10px;
}

/* ACTIVITIES */

.activities-container{
  margin-bottom: 20px;
}

.activities__title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.activity__picture{
height: 100%;
}

.activity__picture--large{
  height: 80%;
}

.activity__picture img, .activity__picture--large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 992px){
.activity__column{
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
}
.activity{
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.activities{
  min-width: 100%;
  /* height: 750px !important; */
}
.activity__card{
  min-width: 100%;
  min-height: 100%;
}
.activity__card--large{
  max-width: 100%;
  max-height: 100%;
}
}

@media screen and (max-width: 428px){

  .activity{
    min-width: 100%;
  }

  /* .activity__card{
    max-width: 100%;
    max-height: 100%;
  } 
  .activity__card--large{
    min-width: 100%;
    min-height: 50%;
  }  */
  /* .activities{
    height: 600px !important;
  } */
  }

.activity__column{
  display: flex;
  align-items: center;
  gap: 30px;
  }
  
.activity{
  display: flex;
  flex-wrap: wrap; 
  width: 50%;
  gap: 25px;
}

.activities{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  gap: 10px;
}

.activity__card{
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 2px 12px rgba(174, 174, 174, 0.25);
  transition: 0.8s;
  cursor: pointer;
}

.activity__card:hover{
  transform: scale(1.07);
}

.activity__card--large{
  display: flex;
  flex-direction: column;
  height: 50%;
  transition: 0.8s;
  cursor: pointer;
} 

.activity__card--large:hover{
  transform: scale(1.07);
}

.activity__description{
  display: flex;
  align-items: center;
  height: 10%;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
}

.activity__description--large{
  display: flex;
  font-size: 11px;
  font-weight: 700;
  padding: 10px;
  border-radius: 0px 0 10px 10px;
  background-color: white;
  box-shadow: 0px 2px 12px rgba(174, 174, 174, 0.25);  
}

/* FOOTER */

.footer {
  display: flex;
  background-color: #F2F2F2;
  padding: 20px;
}
@media screen and (max-width: 992px){

  .footer{
    flex-direction: column;
  }
  }

.footer h1{
  font-size: 15px;
  margin-bottom: 15px;
}

.footer ul{
  list-style-type: none;
}

.footer li{
  color: rgb(143, 142, 142);
  margin-bottom: 5px;
}

.about{
  margin-right: auto;
  margin-bottom: 15px;
}

.accommodation-footer{
  margin-right: auto;
  margin-bottom: 15px;
}

.assistance{
  margin-right: auto;
}